<li class="cvitem">
    <div class="display-teaching-table">
        <div class="ljust display-teaching-tablecell">
            <span class="cvitem-title">
                {% if award.link %}
                    <a href="{{award.link}}">
                        {{award.name}}
                    </a>
                {% else %}
                    {{award.name}}
                {% endif %}
            </span> 
        </div>
        <div class="rjust display-teaching-tablecell">
            {% if award.month %}
                {{award.month}}/{{award.year}}
            {% else %}
                {{award.year}}
            {% endif %}
        </div>
    </div>
</li>