<li class="cvitem">
        <strong class="cvitem-title">{{i.title}}</strong>
    <div class="display-teaching-table">
        <div class="ljust display-teaching-tablecell">
            {% if i.link %}
                <span class="institution">
                    <a href="{{ i.link }}" target="_blank">
                        {{i.institution}} 
                    </a>
                </span>
            {% else %}
                <span class="institution">{{i.institution}},</span> 
            {% endif %}
            {{i.location}}
        </div>
        <div class="rjust display-teaching-tablecell">
            {% if i.end_year == "Present" %}
                {{i.start_month}}/{{i.start_year}} - Present
            {% else %}
                {{i.start_month}}/{{i.start_year}} - {{i.end_month}}/{{i.end_year}}
            {% endif %}
        </div>
    </div>
    <div class="description">
        {{i.description}}
    </div>
</li>